<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap"/>
    <link rel="stylesheet" type="text/css" href="/css"/>
    <script src="/js/jquery"></script>
    <script src="/js/bootstrap"></script>
    <script src="/js/chosen"></script>
    <script src="/js"></script>
</head>
<body>
    <h1>Survey Questions</h1>
    <% questions.forEach(function(question, index) { %>
        <%- include('question.html', {question: question, id: index + 1}); %>
    <% }); %>
    <button type="submit"   class="btn btn-primary btn-lg-btn-block" id="submit">Submit</button>
</body>
</html>