<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" ref="/css/bootstrap"/>
    <link rel="stylesheet" type="text/css" ref="/css/styles"/>
    <script src="/js/jquery"></script>
    <script src="/js/bootstrap"></script>
    <script src="/js/chosen"></script>
    <script src="/js"></script>
</head>
<body>
    <h1>Survey Questions</h1>
    <button type="submit"   class="btn btn-primary btn-lg-btn-block" id="submit">Submit</button>
</body>
</html>